* {
	list-style-type: none;
}

html,
body {
    width   : 100%;
    height  : 100%;
    margin  : 0;
    padding : 0;
}

.KeyValue p {
    margin : 0.6em 0;
}

.pointer {
	cursor : pointer;
}

.KeyValueImage {
    position      : relative;
    top           : 2px;
	width         : 26px;
    height        : 26px;
    border-radius : 5px;
}

.KeyValueLabel, .SelectionInputTopLabel, .TextInputTopLabel, .TextInputBottomLabel {
	display       : block;
	margin-bottom : 5px;
	color         : #c8c8c8;
}

.ms-TextField {
	width : 100%;
}

.TextInputInput, .TextInputLabel {
	padding : 0 !important;
}

.TextInputLabel {
	width : 0 !important;
}

.CardSection {
	padding : 12px 18px;
}

.sectionHeader {
	margin : 4px 0 16px 0;
	color  : #a6a6a6;
}

.headerIcon {
	float  : left;
	width  : 25px;
	height : 25px;
	margin : 3px 0 0 16px;
}

.ms-Panel-headerText {
	margin  : 7px 0    !important;
	padding : 4px 15px !important;
}

.ms-Dropdown-title {
	border  : none;
	padding : 6px 40px 0 0;
}

.TextButton {
	margin-right : 8px;
}

.Switch {
	margin : 0;
	top    : 4px;
}

.ms-ContextualHost {
	left : 94px !important;
	top  : 8px  !important;
}

.ms-Panel-contentInner {
	margin  : 0;
	padding : 0;
}

.ms-font-m-plus {
	word-break : break-word;
}

.row {
	display     : flex;
	align-items : center;
	margin      : 12px 0;
	width       : 100%;
	min-height  : 35px;
}

.column {
	flex-grow : 1;
}

.column-icon {
	margin-right : 1.5em;
}

.column-text {
	flex-grow : 100;
}

.ms-MessageBar {
	width : 93.5%;
}

.separated {
	border       : solid #d0d0d0;
	border-width : 1px 0 0 0;
}

.collapsible {
	overflow                   : hidden;
	transition                 : max-height 1s;
	-webkit-transition         : max-height 1s;
	transition-timing-function : linear;
}

.closed {
	max-height : 0px;
}

.opened {
	max-height : 999px;
}

.centered {
	text-align : center;
}

.toggler {
	margin : 8px 0;
	width  : 100%;
	transition                 : transform 0.1s;
	-webkit-transition         : transform 0.1s;
	transition-timing-function : linear;	
}

.toggler-up {
	transform: rotate(180deg);
}

.navbar {
	height           : 45px;
	background-color : #0078d4;
	color            : white;
}

.navbar .main, .navbar .side {
	height : 100%;
	float  : left;
}

.navbar .main {
	width : 82%;
}

.navbar .side {
	text-align : center;
	width      : 18%;
}

.side i {
	padding : 27%;
}

.side i:hover {
	color : #d0d0d0;
}

.hidden {
	display : none;
}